<div class="basket__products">
    <p class="basket__title">Basket</p>

    {{#each products}}

    <div class="basket__buy">
        <img class="basket__img" src={{images}} alt="">
        <div class="basket__info">
            <p class="basket__skill">{{skill}}</p>
            <p class="basket__name">{{name}}</p>
            <p class="basket__price">{{price}} US</p>
        </div>
        <div class="basket__trash">
            <p class="basket__number">{{count}}</p>
            <a href="/basket" class="trash__btn" data-name="{{this.name}}"><img src="/images/trash.png" alt=""
                    method="POST"></a>

        </div>
    </div>
    {{/each}}

    <div class="basketfooter">
        <p class="basket__total">Total cost {{total}} US</p>
        <a href="/checkout"><input type="button" class="basket__checkoubtn" value="CHECK OUT"></a>

        </a>
    </div>

</div>

<script src="/scripts/basket.js"></script>