
<div class="containerg">
    <div class="containerg__lateral">
    <div>
        <p class="containerg__title">Filter</p> 
          <a href= "" class="containerg__order">Alien's skills</a>
            <form action="/tienda" method="GET">
               <select name="filter">
                  <option value="cook">Cook</option>
                  <option value="babysitter">Babysitter</option>
                  <option value="clean">Clean</option>
               </select>
               <button class="orderbtn__filter" type="submit">Filter</button>
            </form>

          <a href= "" class="containerg__order">Alien's personality</a>
            <form action="/tienda" method="GET">
               <select name="filter">
                  <option value="Gammer">Gammer</option>
                  <option value="Funny">Funny</option>
                  <option value="Joker">Joker</option>
               </select>
               <button class="orderbtn__filter" type="submit">Filter</button>
            </form>

         <a href= "" class="containerg__order">Alien's race</a>
            <form action="/tienda" method="GET">
               <select name="filter">
                  <option value="human">Human</option>
                  <option value="young">Young</option>
                  <option value="robotic">Robotic</option>
               </select>
               <button class="orderbtn__filter" type="submit">Filter</button>
            </form>
         
         

        <p class="containerg__title">Order</p>
          <a href= "" class="containerg__order">Price</a>
            <form action="/tienda" method="GET">
               <select name="order">
                  <option value="cheap">From less to more</option>
                  <option value="expensive">From more to less</option>
               </select>
               <button class="orderbtn" type="submit">Ordenar</button>
            </form>

          <a href= "" class="containerg__order">Weight</a>
            <form action="/tienda" method="GET">
               <select name="order">
                  <option value="thin">From less to more</option>
                  <option value="heavy">From more to less</option>
               </select>
               <button class="orderbtn" type="submit">Ordenar</button>
            </form>

            <a href= "" class="containerg__order">Size</a>
            <form action="/tienda" method="GET">
               <select name="order">
                  <option value="small">From less to more</option>
                  <option value="tall">From more to less</option>
               </select>
               <button class="orderbtn" type="submit">Ordenar</button>
            </form>
    </div>

    </div>


     <div class="productscontainer">
    {{#each products}}
        <div class="productscards">
           <a href="/product/{{this._id}}" class="productnext"> <img class="productscards__imgs" src="{{images}}" alt=""> </a>
                 <div class="productsd">
                    <p class="productsd__sub">{{skill}}</p>
                    <p class="productsd__name">{{name}}</p>
                    <p class="productsd__price">{{price}} US</p>
                    <p class="productsd__sub">{{size}} Cm</p>
                    <p class="productsd__sub">{{weight}} Kg</p>
                    <a href="" class="productsd__buy" data-name="{{this._id}}">Add to cart</a>
                      
                 </div>
        </div>
    {{/each}}
    </div> 


</div>


<script src="/scripts/store.js"></script>





   